.description-box {
    margin-top: 15px;
    font-size: 0.8em;
    color: #676767;
}

.bold-txt {
    color: black;
}

.toggle-btn {
    font-size: 1.1em;
    color: #00532a;
    background-color: transparent;
    border: none;
}